@namespace BlazorUI.Components.Pagination

<nav role="navigation" aria-label="pagination" class="@CssClass">
    @ChildContent
</nav>

@code {
    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string CssClass => BlazorUI.Components.Utilities.ClassNames.cn(
        "mx-auto flex w-full justify-center",
        Class
    );
}
